/* Start Login Card */

/* General Styles for the Login Card */
.login-card {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  background-color: #731209;
  color: #d9d9d9;
}

/* Styles for Register Text Link */
#register-text {
  color: #f28444;
  text-decoration: none;
}

#register-text:hover,
#register-text:focus {
  color: #f28444;
  text-decoration: underline;
}

/* Styles for Login Header */
#login-header {
  font-weight: 700;
  font-size: 3em;
  text-align: center;
}

/* Styles for Login Form Container */
.login-form-container {
  padding: 40px;
}

@media (max-width: 600px) {
  .login-form-container {
    padding: 40px 5px;
  }
}

/* Styles for Login Button */
.login-btn {
  background-color: #f28444;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-btn:hover,
.login-btn:focus {
  background-color: #f27141;
  outline: none; /* Ensures focus state is clear */
}

/* End Login Card */

/* Start Login Page */

.login-page-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d9d9d9;
}

/* End Login Page */
